@import "./custom/shadow.scss"

.banner
    height: 50vh
    .banner__img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center var(--position-img)
        animation-name: moveImgBanner
        animation-duration: 5s
        animation-iteration-count: infinite
        animation-timing-function: ease-in
        animation-direction: alternate
    .banner__div
        position: absolute
        left: 25vw
        bottom: 20%
        .banner__p
            color: var(--black)
            width: 40vw
            font-size: 1.5rem
            font-weight: 700
            @include shadowText(#fff)
            line-height: 2rem
            margin: 0.5rem 0
            font-style: italic

@keyframes moveImgBanner
    to
        object-position: center calc( 10% + var(--position-img) )

@media (max-width: 992px)
    .banner
        position: absolute
        width: 100%
        top: 0
        height: 100vh
        height: 100dvh
        .banner__div
            position: absolute
            left: 25vw
            bottom: 40%
