.category
    padding: 3rem
    .category__section
        outline: 3px double #0f0
        .category__header
            display: flex
            justify-content: space-between
        .category__ul
            display: flex