.home-search
    height: 10vh
    height: 10dvh
    .home-search__nav
        margin: 0 auto
        width: 60%
        height: 100%
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 2rem
        outline: 1px solid #ff0
        .home-search__span
            height: 50%
            font-size: 1.5rem
            font-weight: 700
            text-shadow: 1px 1px 5px #333
            .home-search__span_icon
                background-image: url(user-tie-solid.svg)
                display: inline-block
                width: 3.5rem
                aspect-ratio: 1/1
                background-size: contain
                background-repeat: no-repeat
                background-position: center center
                filter: invert(90%) sepia(90%) saturate(860%) hue-rotate(335deg)
                vertical-align: top
            .home-search__span_fashion
                vertical-align: top
                color: #ff0
        .home-search__input
            font-size: 2rem
        .header__a
            margin: 0 0 0 auto
