.home-search
    height: 10vh
    height: 10dvh
    .home-search__nav
        margin: 0 auto
        width: 60%
        height: 100%
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 2rem
        background-color: #fff
        box-shadow: 2px 0px 5px #3333, -2px 0px 5px #3333
        padding: 1rem
        .home-search__input
            font-size: 1.2rem
            width: 200px
            transition: 1s
            background-color: #fff
            caret-color: orange
            &:focus
                width: 300px
        .header__a
            margin: 0 0 0 auto
