.home-search
    height: 10vh
    height: 10dvh
    .home-search__nav
        margin: 0 auto
        width: 80%
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        outline: 1px solid
        .home-search__input
            font-size: 2em
