@import "./reset.css";
@import "./custom/button.css";
@import "./custom/input.css";
@import "./custom/icon_fashion.sass";
@import "./home-search.sass";
@import "./banner.sass";
@import "./store.sass";
@import "./menu.sass";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  min-height: 100vh;
  min-height: 100dvh;
}
img {
  width: 100px;
  height: 100px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #333;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
