@import "./reset.css";
@import "./custom/title.sass";
@import "./custom/car.sass";
@import "./custom/button.css";
@import "./custom/button2.css";
@import "./custom/input.css";
@import "./custom/icon_fashion.sass";
@import "./custom/mask-hide.scss";
@import "./home-search.sass";
@import "./banner.sass";
@import "./store.sass";
@import "./menu.sass";
@import "./category.sass";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ddd;
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  color: inherit;
  color: #3b44fd;
}
a:hover {
  color: #747bff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #333;
  }
}
