@import "./reset.css";
@import "./custom/title.sass";
@import "./custom/car.sass";
@import "./custom/button.css";
@import "./custom/button2.css";
@import "./custom/input.css";
@import "./custom/icon_fashion.sass";
@import "./custom/mask-img.sass";
@import "./home-search.sass";
@import "./banner.sass";
@import "./store.sass";
@import "./menu.sass";
@import "./category.sass";
@import "./form.css";

:root {
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
  --black: #333;
  --white: #eee;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ffd900aa;
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  color: inherit;
  color: #3b44fd;
}
a:hover {
  color: #1d28f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* #ffd700 = GOLD*/
    --background: #b2d2fa;
  }
  body {
    color: #eee;
    background-color: #333;
  }
}
