.menu__article
    position: sticky
    top: 3rem
    .menu__div
        height: 5rem
        display: flex
        justify-content: center
        align-items: center
        gap: 1rem
        .car
            position: relative
        .car:hover::after
            content: "Mira tu carrito"
            position: absolute
            font-weight: 700
            bottom: -80%
            width: 120px
            text-align: center
            background-color: #fff
            padding: 0.5rem
            border-radius: 1rem
        .menu__span
            font-size: 1.2rem
    .menu__ul
        display: flex
        flex-flow: column nowrap
        height: 20rem
        align-items: center
        gap: .7rem
        li
            width: 70%
            & > *
                width: 100%
        .menu__li_hide
            display: none
            padding-left: 1.5rem
            a
                background-color: #daf1ff
        &.active
            gap: .5rem
            .menu__li_hide
                display: block
