.store
    display: flex
    justify-content: center
    flex-flow: row wrap
    color: #333
    & > *
        background-color: var(--background, #fff)
    .store__aside
        width: 15%
        top: 0
        box-shadow: -2px 0px 5px 1px #3333
    .store__main
        width: 65%
        box-shadow: 2px 0px 5px 1px #3333
    .store__footer
        width: 80%
        height: 40rem
        background-color: #0090de
        box-shadow: 2px 0px 5px 1px #3333, -2px 0px 5px 1px #3333
        position: relative
    .store__article
        width: 80%
        min-height: 90vh
        background-color: var(--background, #fff)
        display: flex
        justify-content: center
        align-items: center
        background-color: #ffff88
