body
    .userIn_show
        display: none

body.userIn
    .userIn_show
        display: block
        span
            padding: .5rem 2rem
        input
            padding: .5rem
            width: 120px
    .userIn_hide
        display: none
