.header__a {
  box-shadow: 2px 2px 5px 1px #0a0c80;
  background: linear-gradient(to bottom, #4d23e8 5%, #8d31e8 100%);
  background-color: #4d23e8;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  color: #eee;
  font-family: Georgia;
  font-size: 19px;
  padding: 11px 37px;
  text-decoration: none;
}
.header__a:hover {
  background-image: linear-gradient(to bottom, #8d31e8 5%, #4d23e8 100%);
  color: #eee;
}
.header__a:active {
  position: relative;
  top: 2px;
}
