.car
    height: 2.5rem
    width: 2.5rem
    background-image: url(../../../public/cart-shopping-solid.svg)
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    filter: invert(90%) sepia(90%) saturate(860%) hue-rotate(335deg) drop-shadow(1px 1px 1px #333)
