.icon_fashion
    display: block
    height: 50px
    font-size: 1.5rem
    font-weight: 700
    text-shadow: 1px 1px 5px #333
    color: #eee
    .icon_fashion_img
        display: inline-block
        height: 100%
        aspect-ratio: 1/1
        background-image: url(../../../public/user-tie-solid.svg)
        filter: invert(90%) sepia(90%) saturate(860%) hue-rotate(335deg) drop-shadow(1px 1px 1px #333)
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        vertical-align: top
        border-radius: 50%
    .icon_fashion_first-word
        vertical-align: top
        color: #ff0
